<div class="card-block shadowed-box embedded-members-reviews">
  <%= render 'shared/featured_post', review: featured_review, username: featured_review.user.username, firmname: @firm.name, firmid: @firm.id %>
</div>
