<h4>
  <p id="first_para_no_search_result" class="parag_no_search_result">

    <% if @no_search_results == false %>
      <%= t( ".firm_not_listed_header_html", search_string: @requested_firm_params[:name], default: "\"#{@requested_firm_params[:name]}\" is not in our list?") %>
    <% else %>
      <%= t( ".no_search_result_header_html", search_string: @requested_firm_params[:name], default: "No firm with a name containing \"#{@requested_firm_params[:name]}\" is currently ranked in our database.") %>
    <% end %>

  </p>

  <p id="second_para_no_search_result" class="parag_no_search_result">

    <%= t(".firm_not_listed_please_add_firm", search_string: @requested_firm_params[:name], default: "Do you want that \"#{@requested_firm_params[:name]}\" be added to our rankings? Request it!")%>

  </p>
</h4>

<%= render "firm_creation_requests/firm_creation_request_form" %>
