<div class="row">
  <div class="col-xs-12">
    <div id="latestMembersReviews" class="text-wrapper card-block shadowed-box embedded-members-reviews">
      <h3 class="text-center"><%= t(".what_our_members_say_header",
      firm_name: t(@firm.name, default: @firm.name),
      default: "What our member say about #{@firm.name}!") %></h3>

        <% if @user_pending_review_for_this_firm %>
          <%= render 'reviews/index/user_pending_review', review: @user_pending_review_for_this_firm, displayed_reviews_css_array: @displayed_reviews_css_array %>
        <% end %>
        <hr/>

        <% @firm.ordered_reviews_with_answers_test_names_and_usernames_for_publication.each do | review | %>

          <%= render 'reviews/individual_review_table_firm_list_wrapper', review: review, username: review.review_portfolio.user.username, firmname: @firm.name, firmid: @firm.id, displayed_reviews_css_array: @displayed_reviews_css_array %>
          <hr/>
        <% end %>

    </div>
  </div>
</div>
