<div id="review_form" class="row">
  <div class="col-xs-12">
    <div class="text-wrapper card-block shadowed-box">
      <%= render "reviews/simple_review_without_firm_select" %>
    </div>
  </div>
</div>
