<div class="row">
  <div class="col-xs-12">
    <div class="text-wrapper card-block shadowed-box">
      <h4><%= t('.heading', firm_name: @firm.name, default: "Labels, Awards and Charters for #{@firm.name}") %></h4>
      <table class="table table-striped table-responsive">
      <% @firm.awards_names.each do | award_name | %>
        <tr>
          <td>
            <%= award_name %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
