<div id= "socialButtonsContainer" class="row xs-hidden">
  <div class="col-xs-4 text-left">
    <div class="fb-share-button" data-href="http://www.skanher.se/" data-layout="button">
    </div>
  </div>
  <div class="col-xs-4 text-center">
    <%= link_to("Tweet", "https://twitter.com/share", class: "twitter-share-button", "data-via" => "skanher", "data-count" => "none") %>
  </div>
  <div class="col-xs-4 text-right">
    <%= javascript_include_tag '//platform.linkedin.com/in.js' do %>
      lang: en_US
    <% end %>
    <script type="IN/Share" data-url="http://www.skanher.se/"></script>
  </div>
</div>