<div class="row hidden">
  <div class="col-xs-3">
    <div class="fb-share-button" data-href="https://sunny-rankings.herokuapp.com/" data-layout="button">
    </div>
  </div>
  <div class="col-xs-3">
    <%= link_to("Tweet", "https://twitter.com/share", class: "twitter-share-button", "data-via" => "sunnyrankings", "data-count" => "none") %>
  </div>
  <div class="col-xs-3">
    <%= javascript_include_tag '//platform.linkedin.com/in.js', 'data-turbolinks-track' => true do %>
      lang: en_US
    <% end %>
    <%#= javascript_tag, type: "IN/Share", "data-url" => "https://sunny-rankings.herokuapp.com/" do %>
    <%# end %>
    <!-- TO BE DISCUSSED WITH LIEN -->
    <script type="IN/Share" data-url="https://sunny-rankings.herokuapp.com/"></script>
  </div>
  <div class="col-xs-3">
    <%= link_to("Rate me!", "#", class: "btn btn-default btn-xs rate-me red-hover-btn", role: "button") %>
  </div>
</div>