<div class="row">
  <div class="xs-12">
    <div class="card-box shadowed-box">
      <h1>Cookies Policy</h1>
      <p>
        Cédric Lor is committed to delivering the best possible service to you and we wish to maintain the confidence that you place in us.  We would like to provide you with clear information about how we use and store cookies from our websites on your computer. The word “computers”, when used in this policy, refers to computers, smartphones and all other devices used for accessing the internet.
      </p>
      <h3>
        What is a cookie?
      </h3>
      <p>
        Cookies are small text files that are placed and stored on your computer when you visit a website. Cookies are very useful and enable an internet site to recognise you, log when you visit a particular page, provide a secure connection to a website and enhance your user experience by: improving your browsing comfort, ; and/ or adapting the content of a page to your areas of interest.
      </p>
      <p>
        The information stored by the cookies on your computer, during a limited period of validity, may relate to: the particular webpages you have visited on that computer; advertisements  you have clicked on; the type of browser you use; and the information you have provided to a website (the use of the cookie meaning that you avoid having to provide the information again).  This information is sometimes linked to your IP address.
      </p>
      <h3>
        Types of cookies installed by skanher.se
      </h3>
      <p>
        Cookies intended to collect website statistics: in order to customise skanher.se to the requirements of our visitors, we measure the number of visits, the number of pages viewed, the activity of the visitors on skanher.se and how often visitors return. These cookies enable traffic analysis statistics to be compiled. From this analysis, the contents of the website can be developed and improved to enhance user experience. Such cookies may not expire more than 12 hours after being set.
      </p>
      <p>
        Cookies intended to collect information in relation to your areas of interest: information collected from these cookies may be used in order to send you personalised advertising customised to your needs and interests. Such cookies expires after 12 hours
      </p>
      <p>
        Cookies intended to collect information on the fact that you voted for a company with being logged in : these cookies allow us to ensure that our rating system is not abuse. Such cookies expires after two weeks.
      </p>
      <h3>
        Your choice with respect to cookies
      </h3>
      <p>
        Many of the cookies we use will improve your browsing experience of our websites, others are vital for you to access secure areas. As a default, most browsers are set to accept cookies. However, if you do not wish to consent to cookies being stored on your computer, you will be able to block all cookies by changing your browser settings. If you decide to block all of the cookies using your internet browser, you will only continue to be able to visit the public areas of our websites and will no longer have access to any secure areas. You may also experience interruption or delays to your browsing experience of public areas.
      </p>
      <p>
        You will always be able to block all cookies in your browser settings. You may also, depending on the type of browser you have, configure your settings to block on certain types of cookie, or cookies from certain sources, or to notify you each time a new cookie is about to be stored on your computer, so you can then accept or reject it.
      </p>
      <p>
        For details on what your browser offers and how to configure your browser according to your choices, please go to the “Help” menu or other dedicated section of your internet browser.
      </p>
      <h3>
        Use of social networks by the users of skanher.se
      </h3>
      <p>
        Our webiste include plugins issues by third parties (such as app buttons), which enables the user to share, via social networks, some information from our site or its opinion. Such is the case of the "Share", "Like" and Tweet" buttons, issued by social networks such as "Facebook", "Twitter", etc.
      </p>
      <p>
        If you use such third party plugins, for instance by clicking on the button "Like" or by leaving a comment on a social network, the corresponding information will be transfered to the social network and published on your profile.
      </p>
      <p>
        If you do not wish that the social network links the data collected via our website to your user account, you should first logged out of the social network.
      </p>
      <p>
        We reommend that you read the privacy policies of such social networks in order to know how your data, including in particular for advertisement, of navigation information collected via such buttons.
      </p>
      <p>
        In accordance with the laws of various countries which may be applicable to you, you have a right to request details of all personal data skanher.se holds on you, including that collected by cookies. You also have the right to oppose the storage of cookies on your computer.
      </p>
      <p>
        Please note: preventing the installation of cookies on your computer will not remove all advertisements from websites you visit. Your refusal to accept these cookies will only prevent the customisation of such advertisements to your areas of interest as deducted from your browsing history.
      </p>
      <h3>
        More information:
      </h3>
      <p>
        More information about cookies, not just those from skanher.se, and how cookies can be controlled  can be found at Youronlinechoices, http://www.youronlinechoices.com/ published by Interactive Advertising Bureau France (IAB).
      </p>
      <p>
        Please note : If your computer is used by more than one person or has multiple internet browsers, it is possible that some of your choices relating to cookies may not be permanent because you are either using a different browser or a third party has changed the settings of your browser.  We are unable to prevent these external factors and therefore cannot guarantee the permanence of the choices you make.
      </p>
    </div>
  </div>
</div>