<% content_for(:title, t(:cookies_policy_page_title, default: "Cookies Policy")) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="class-xs-12">
          <div class="card-block shadowed-box">
            <h1>Politique Relative aux Cookies</h1>
            <p>
              skanher est particulièrement attentif à vos attentes et nous souhaitons préserver la confiance que vous nous portez. Concernant les données personnelles que vous nous confiez, nous souhaitons vous informer de manière transparente sur notre politique en matière de dépôt et d’utilisation des cookies depuis nos serveurs vers votre terminal de connexion.
            </p>
            <h3>
              Qu’est-ce qu’un cookie ?
            </h3>
            <p>
              Les cookies sont de petits fichiers texte qui sont placés et stockés sur votre ordinateur, votre smartphone ou tout autre appareil optimisé pour Internet, lorsque vous visitez un site web. Très utiles, les cookies permettent à un site Internet de vous reconnaître, de signaler votre passage sur telle ou telle page et de vous apporter ainsi un service additionnel : amélioration de votre confort de navigation, sécurisation de votre connexion ou adaptation du contenu d’une page à vos centres d’intérêt.
              Les informations stockées par les cookies, pendant une durée de validité limitée, portent notamment sur les pages visitées, les publicités sur lesquelles vous avez cliquées, le type de navigateur que vous utilisez, les informations que vous avez saisies sur un site afin de vous éviter de les saisir à nouveau. Ces informations sont parfois rattachées à votre adresse IP.
            </p>
            <h3>
              Types de cookies déposés par skanher.se
            </h3>
            <p>
              Cookies Statistiques : afin d’adapter skanher.se aux demandes de nos visiteurs, nous mesurons le nombre de visites, le nombre de pages consultées ainsi que de l'activité des visiteurs sur le Site et leur fréquence de retour. Ces cookies permettent d’établir des statistiques d’analyse de la fréquentation à partir desquels les contenus de notre site sont améliorés en fonction du succès rencontré par telle ou telle page auprès de nos visiteurs.
              La durée de validité de ces cookies est de 12 heures
            </p>
            <p>
              Cookies permettant de mémoriser : vos préférences d’utilisation, les paramètres d’affichage et lecteurs que vous utilisez afin de faciliter votre navigation lors de votre prochaine visite sur notre site.
              La durée de validité de ces cookies est de 12 heures.
            </p>
            <p>
              Cookies permettant de mémoriser le fait que vous avez voté pour une société sans vous être connecté au préalable : ces cookies nous permettent de nous assurer que notre système de notation n'est pas utilisé abusivement. La durée de validité de ces cookies est de deux semaines.
            </p>
            <h3>
              Vos choix en matière de cookie
            </h3>
            <p>
              Vous pouvez choisir d’accepter le dépôt de cookies sur votre terminal et revenir sur cette décision à tout moment en modifiant les paramètres de votre navigateur internet.
            </p>
            <p>
              Selon le type de navigateur, vous disposerez des options suivantes : accepter ou rejeter les cookies de toute origine ou d’une provenance donnée ou encore programmer l’affichage d’un message vous demandant votre accord à chaque fois qu’un cookie est déposé sur votre terminal.
            </p>
            <p>
              Pour exprimer ou revenir sur vos choix, reportez-vous au menu d'aide ou à la rubrique dédiée de votre navigateur.
            </p>
            <h3>
              Usage des réseaux sociaux par les utilisateurs de skanher.se
            </h3>
            <p>
              Notre site comporte des éléments émanant de tiers (boutons applicatifs), qui permettent à l'internaute de partager, via des réseaux sociaux, des contenus de notre Site ou son opinion. Tel est notamment le cas des boutons « Partager », « J'aime », « Tweeter », issus de réseaux sociaux tels que « Facebook », « Twitter », etc.
            </p>
            <p>
              Si vous interagissez au moyen des éléments émanant de tiers, par exemple en cliquant sur le bouton « J'aime » ou en laissant un commentaire, les informations correspondantes seront transmises au réseau social et publiées sur votre profil.
            </p>
            <p>
              Si vous ne souhaitez pas que le réseau social relie les informations collectées par l'intermédiaire de notre site à votre compte utilisateur, vous devez auparavant vous déconnecter du réseau social.
            </p>
            <p>
              Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance des finalités d'utilisation, notamment publicitaires, des informations de navigation qu'ils peuvent recueillir grâce à ces boutons applicatifs.
            </p>
            <h3>
              Droit d’accès et d’opposition
            </h3>
            <p>
              Conformément à la loi française Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez d’un droit  d’opposition et d’accès sur les données vous concernant.
            </p>
            <p>
              Attention : le fait d’empêcher le dépôt de cookie sur votre terminal ne fait pas disparaître les publicités affichées sur les contenus que vous consultez en ligne. Votre refus ne fait que bloquer l’adaptation de ces publicités à vos centres d’intérêts tels que déduits de votre parcours de navigation.
            </p>
            <p>
              Pour une meilleure connaissance et maîtrise des cookies de toute origine et pas seulement ceux de notre site présents sur votre terminal de connexion, nous vous invitons à consulter le site Youronlinechoices, édité par l’Interactive Advertising Bureau France (IAB).
            </p>
            <p>
              NB : Si votre terminal est utilisé par plusieurs personnes ou comporte plusieurs navigateurs Internet, il est possible que certains choix de vos choix  en matière de cookie ne soient pas pris en compte de manière permanente, soit parce que vous avez utilisé un autre navigateur, soit parce qu’un tiers a modifié les paramètres de votre navigateur. Nous ne sommes pas en mesure de prévenir ces éléments extérieurs et ni de garantir la pérennité des choix que vous avez initialement exprimés.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>