<% content_for(:title, "How does it work?") %>

<div id="howItWorks">
  <div id="mainLandingMotto" class="fluid-container text-center section bg-img-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hiw-division hiw-top-division">
          <div class="vertically-aligned-content-block motto-container-block">
            <%= image_tag "logo-skanher.png", class: "vertical-align-inline-block", id: "mainLogoHiw" %>
            <span class="brand-text vertical-align-inline-block">
              <span class='brandtext-first-part'>skan</span><span class='brandtext-second-part'>her</span>
            </span>
            <div class="motto-line main-text-line">Digital democracy for actual equality</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="motivationSection" class="fluid-container text-center section bg-img-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hiw-division">
          <div class="vertically-aligned-content-block motto-container-block">
            <div class="main-text-line">People! Take the power: vote for a firm!</div>
            <div class="main-text-line">Employers! Will you stand up the disruption and get a free reputation-premium?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="currentFeatures" class="fluid-container text-center section">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="voteIcon" class="icon"></div>
          <h3>Vote and Comment</h3>
          <ul>
            <li>Pick a firm.</li>
            <li>Post a comment.</li>
            <li>Vote on our criteria.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="anonymousIcon" class="icon"></div>
          <h3>Remain Anonymous</h3>
          <ul>
            <li>Pseudonym wrapping of all publication.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="rankingsIcon" class="icon"></div>
          <h3>Access Information</h3>
          <ul>
            <li>Consult firm ratings calculated from user votes.</li>
            <li>Get firms rankings by industry and by country.</li>
            <li>Access critical data for job applicants.</li>
            <li>Access critical data for engaged consumers.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main call to action -->
    <div class="row">
      <div class="col-xs-12">
        <div id="mainCallToActionWrapper">
          <%= link_to t(:top_call_to_action, default: "Rate a firm"), firms_path, class: "btn btn-default btn-green-bg red-hover-btn" %>
        </div>
      </div>
    </div>
    <!-- Scroll arrow -->
    <div class="row">
      <div class="col-xs-12">
        <div id="scrollArrowWrapper">
          <a href="#futureFeatures">
            <i class="fa fa-angle-down fa-4x pulse scroll-arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- END OF FIRST SECTION -->
  <!-- BEGINNING OF SECOND SECTION -->

  <div id="futureFeatures" class="fluid-container text-center section">
    <div class="row">
      <div class="col-xs-12">
        <h1>Future Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="feelingRepositoryIcon" class="icon"></div>
          <h3>Feelings Repository</h3>
          <ul>
            <li>Vote again at any time, depending on your mood.</li>
            <li>Pass additional tests, to better identify your issues.</li>
            <li>Access your past reviews, tests and ratings, to follow up on your situation.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="advicesIcon" class="icon"></div>
          <h3>Advices</h3>
          <ul>
            <li>Expose your situation in our private forums.</li>
            <li>Receive free advices from other community members.</li>
            <li>Share your advices to other community members.</li>
            <li>Get in touch with one of our partners (lawyers, work psychologists, coaches).</li>
            <li>Provide more data on yourself and get a discount.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="employersAdvisoryIcon" class="icon"></div>
          <h3>Employers' Advisory Services</h3>
          <ul>
            <li>Improve gender equality and parity in your firm.</li>
            <li>Make an audit.</li>
            <li>Receive training.</li>
            <li>Get a reputation badge beside your ranking for your commitment to improvment.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="adrIcon" class="icon"></div>
          <h3>Alternative Dispute Resolution</h3>
          <ul>
            <li>Reduce cost and time uncertainties related to legal actions.</li>
            <li>Access our alternative dispute resolution platform.</li>
            <li>Get a reputation badge beside your ranking for accepting our alternative dispute resolution.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  if (viewport().width > 768) {
    $('#howItWorks .section').each(function(){
      setBoxHeight($(this).attr("id"));
    });
//    <!-- window.load = setBoxHeight("#currentFeatures"); -->
//    <!-- window.load = setBoxHeight("#futureFeatures"); -->
  }
  <% end %>
<% end %>