<div class="row">
  <div class="xs-12">
    <div class="card-box shadowed-box">
      <h1>
        Mentions Légales
      </h1>
      <p>
        Présentation Générale
      </p>
      <p>
        Vous êtes actuellement connecté au site www.skanher.se (ci-après le "Site") qui est édité par Cédric Lor (ci-après "Cédric Lor").
      </p>
      <p>
        Hébergement : Gandi
      </p>
      <p>
        L'éditeur s'engage à respecter l'ensemble des lois concernant la mise en place et l'activité d'un site Internet.
      </p>
      <h3>
        Accès au Site
      </h3>
      <p>
        L’accès au Site est gratuit. Les frais d’accès et d’utilisation du réseau de télécommunication sont à la charge de tout utilisateur du Site, selon les modalités fixées par ses fournisseurs d’accès et opérateurs de télécommunication.

        Il est rappelé que le fait d’accéder ou de se maintenir frauduleusement dans un système informatique, d’entraver ou de fausser le fonctionnement d’un tel système, d’introduire ou de modifier frauduleusement des données dans un système informatique constituent des délits passibles de sanctions pénales. Ceci couvre également le fait d'introduire des données frauduleuses dans la base de données de notation d'entreprises maintenue par ce Site.
      </p>
      <h3>
        Informations Techniques
      </h3>
      <p>
        Il est rappelé que le secret des correspondances n'est pas garanti sur le réseau Internet et qu'il appartient à chaque utilisateur d'Internet de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination d'éventuels virus circulant sur Internet.
      </p>
      <h3>
        Contenu du Site - Responsabilité de Cédric Lor
      </h3>
      <p>
        Cédric Lor s'efforce d'assurer l'exactitude et la mise à jour des informations diffusées sur le Site, et se réserve le droit de modifier, à tout moment et sans préavis, le contenu ou la présentation du Site. Il ne peut cependant en garantir l'exhaustivité ou l'absence de modification par un tiers (intrusion, virus, introduction frauduleuse de données au sein de la base de données de notations d'entreprises).

        En outre, Cédric Lor ne garanti pas et ne sera en aucune manière responsable de l'exactitude, l'absence d'erreurs, la véracité, le caractère actuel, la qualité loyale et marchande, la qualité, la justesse, le caractère non contrefaisant et la disponibilité des informations contenues sur le présent site.

        Cédric Lor décline toute responsabilité en cas de retard, d’erreur ou d’omission quant au contenu des présentes pages de même qu’en cas d’interruption ou d’indisponibilité du service.

        A ce titre la responsabilité de Cédric Lor ne saurait en aucun cas être retenue lors de dommages indirects quels qu’ils soient.

        Cédric Lor ne peut être tenu responsable de toute décision prise sur la base d’une information contenue sur ce site, ni de l’utilisation qui pourrait en être faite par des tiers et se dégage en particulier de toute responsabilité découlant de la transmission d’informations confidentielles sur le réseau Internet.

        Cédric Lor ne saurait être tenus responsables des éléments en dehors de son contrôle et des dommages qui pourraient éventuellement être subis par l'environnement technique de tout utilisateur et notamment, ses ordinateurs, logiciels, équipements réseaux (modems, téléphones...) et tout matériel utilisé pour accéder à ou utiliser les services fournis par ce Site et/ou ses informations.

        Le Site ne présente à ce jour aucun service payant. En revanche, il propose un service gratuit de notation d'entreprise (le "Service de Notation"). L'utilisation du Service de Notation par l’internaute implique de sa part la connaissance et l’acceptation des conditions générales d'utilisation du Service de Notation.
      </p>
      <h3>
        Données Personnelles
      </h3>
      <p>
        Les données personnelles sont traitées et enregistrées par Cédric Lor, responsable de traitement. Certaines de ces données sont obligatoires pour traiter votre inscription. Les données sont utilisées par Cédric Lor, pour l’envoi d’informations relatives à ses activités. Ces données pourront être communiquées aux prestataires de service et sous-traitants, pour la seule exécution au profit de Cédric Lor de certaines tâches matérielles et techniques inhérentes aux finalités décrites ci-dessus. Ces données personnelles pourront donner lieu à l'exercice du droit d'accès, de rectification et d'opposition dans les conditions prévues par la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers aux libertés, par courrier adressé à Cédric Lor - Service des données personnelles : 10 passage Lathuile - 75018 Paris, France ou par mail : cedric@skanher.se

        L’internaute pourra, s'il l'accepte, recevoir des sollicitations commerciales de Cédric Lor ou des partenaires de Site.
      </p>
      <h3>
        Liens Hypertextes
      </h3>
      <p>
        Cédric Lor n'est pas responsable des liens hypertextes pointant vers le présent site et la création de liens hypertextes vers l’url <% link_to("http://www.skanher.se", root_path) %> est soumis à l'accord expresse préalable du Directeur de la Publication. Les liens hypertextes établis en direction d'autres sites à partir de <% link_to("http://www.skanher.se", root_path) %> ne sauraient, en aucun cas, engager la responsabilité de Cédric Lor notamment mais de manière non exclusive quant au contenu de ces sites.
      </p>
      <h3>
        Cookies
      </h3>
      <p>
        Se reporter à la page "<% link_to("Politique Cookies", root_path) %>".
      </p>
      <h3>
        Droits de Propriété Intellectuelle
      </h3>
      <p>
        L'ensemble de ce site relève de la législation internationale sur le droit d'auteur, le droit des marques et, de façon générale, sur la propriété intellectuelle, tant en ce qui concerne chacun des éléments de son contenu (textes, images, données, dessins, graphiques, photos et bandes sonores,...) qu'en ce qui concerne sa forme (choix, plan, disposition des matières, moyens d'accès aux données, organisation des données...). Ces contenus, figurant sur les pages de ce site, sont la propriété exclusive de Cédric Lor.
      </p>
      <h3>
        La reproduction ou représentation, intégrale ou partielle, des pages, des données et de toute autre élément constitutif au site, par quelque procédé ou support que ce soit, est interdite et constitue sans autorisation expresse et préalable de l'éditeur une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de Propriété Intellectuelle.
      </p>
      <h3>
        Les marques présentent sur <% link_to("http://www.skanher.se", root_path) %> notamment la marque skanher, et celles des partenaires de Cédric Lor, ainsi que les logos figurant sur le site sont des marques déposées en France et/ou à l’International sous différentes déclinaisons.
      </p>
      <h3>
        Toute reproduction totale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments du site sans l’autorisation expresse et préalable de Cédric Lor, est donc prohibée, au sens de l’article L713-2 du Code de la Propriété Intellectuelle.
      </p>
      <h3>
        De même, toute utilisation du contenu de ce site à des fins illégales fera l’objet de poursuites judiciaires à l’égard des contrevenants.
      </p>
      <h3>
        Par exception, certains contenus (textes, images) sont la propriété de leurs auteurs respectifs.
        Toute reproduction, représentation, diffusion ou rediffusion, en tout ou partie, du contenu de ce site sur quelque support ou par tout procédé que ce soit, de même que toute vente, revente, retransmission ou mise à disposition de tiers de quelque manière que ce soit sont interdites. Le non-respect de cette interdiction constitue une contrefaçon susceptible d’engager la responsabilité civile et pénale du contrefacteur.
      </p>
      <h3>
        Loi Applicable
      </h3>
      <p>
        Le contenu du site est assujetti au droit applicable en France. Tout utilisateur reconnaît la compétence des tribunaux relevant du ressort de la cour d’appel de Paris pour tout ce qui concerne le contenu et l’utilisation du site ou les recours en découlant.
      </p>
    </div>
  </div>
</div>