<div class="row">
  <div class="xs-12">
    <div class="card-box shadowed-box">
      <h1>
        Legal Notices
      </h1>
      <h3>
        General Information
      </h3>
      <p>
        You are currently connected to the website www.skanher.se (hereinafter referred to as ‘the Website’), which is published by Cédric Lor.
      </p>
      <p>
        Hosted by: Gandi
      </p>
      <p>
        The publisher undertakes to comply with all laws governing the setting up and conduct of an Internet website.
      </p>
      <h3>
        Access to the Website
      </h3>
      <p>
        Access to the Website is free of charge.  Access fees and charges for the use of the telecommunication network are to be borne by the Website user, according to the terms of use set forth by its Internet service provider and telecommunications operator.
      </p>
      <p>
        Entering or remaining in a computer system by fraudulent means, impairing or distorting the functioning of such a system, and fraudulently introducing or modifying data in a computer system all constitute criminal acts punishable under criminal law. This includes also the the introduction of fraudulent data into the company ranking service provided by this Webite.
      </p>
      <h3>
        Technical Information
      </h3>
      <p>
        The confidentiality of information cannot be guaranteed on the Internet network and it is the sole responsibility of each Internet user to take all appropriate measures to protect its personal data and/or software from any contamination by viruses circulating on the Internet.
      </p>
      <h3>
        Website's Content: Liability
      </h3>
      <p>
        Cédric Lor tries to ensure the accuracy and updating of information disseminated on the Website, and reserves the right to modify, at any time and without prior notice, the content or presentation of the Website. However, Cédric Lor cannot guarantee that the information is complete or that it has not been modified by a third party, for example through an intrusion or a virus.
      </p>
      <p>
        Moreover, Cédric Lor does not guarantee and accepts no liability whatsoever for the accuracy, authenticity, truthfulness or availability of information contained on the Website, or that the information is up-to-date, error-free, undistorted, fair or useful.
      </p>
      <p>
        Cédric Lor accepts no liability for any delay, error or omission with respect to the content of the Website pages, or for any interruption or unavailability of the service.
      </p>
      <p>
        In such cases, Cédric Lor cannot be held liable for any indirect damages whatsoever.
      </p>
      <p>
        Cédric Lor cannot be held liable for any decision taken on the basis of information contained on the Website, nor of any use which may be made of it by third parties, and specifically declines any liability arising from the transmission of confidential information on the Internet network.
      </p>
      <p>
        Cédric Lor cannot be held liable for any occurrences outside of its control or for any damages which may be sustained, due to the actions of any user, by your technical environment, including your computers, software, network equipment such as modems and telephones etc, or any devices used to access or use the Website service and/or the information it contains.
      </p>
      <p>
        The Website does not offers any commercial services at this stage. However, it does provide a free rating service of companies (the "Rating Service").  The use of such service by the vistor implies its agreement to the general conditions of services of the Rating Service.
      </p>
      <h3>
        Personal Data
      </h3>
      <p>
        Personal data are processed and recorded by Cédric Lor.  Some of these details are needed to process registrations.  The data are used by Cédric Lor in order to send information concerning its activities. This data may be communicated to service-providers and sub-contractors for the sole purpose of enabling Cédric Lor to carry out basic technical tasks essential for the purposes described above.  Persons whose personal data is so stored can exercise their right of access, rectification and challenge under the conditions provided by French Law n° 78-17 of 6 January 1978 (loi relative à l’informatique, aux fichiers et aux libertées) modified with respect to information technology files, by addressing their request to Cédric Lor at 10 Passage Lathuille, 75018 Paris, France or by mail at cedric@skanher.se
      </p>
      <p>
        Similarly, the Website visitor may, subject to its prior consent, receive commercial offers from Cédric Lor or its partners.
      </p>
      <h3>
        Hypertext Links
      </h3>
      <p>
        Cédric Lor is not responsible for hypertext links directing users to the Website; the creation of hypertext links to the URL <% link_to("http://www.skanher.se", root_path) %> must be submitted to the prior agreement of Cédric Lor. Cédric Lor does not accept any responsibility whatsoever for hypertext links to other websites from <% link_to("http://www.skanher.se", root_path) %>, including with regards to the content of such websites.
      </p>
      <h3>
        Cookies
      </h3>
      <p>
        Please read the <%= link_to("Cookies Policy", root_path) %>'s page.
      </p>
      <h3>
        Intellectual Property Rights
      </H3>
      <p>
        The entire Website is subject to the provisions of international legislation governing copyright, trademark law and intellectual property in the broad sense, with respect to each and every element of its content including text, images, data, designs, illustrations, graphics, photographs, sound recordings et al, and of its form including selection, planning and layout of material, means of access to and organisation of data, et al.  The content appearing on the Website pages are the exclusive property of Cédric Lor.
      </p>
      <p>
        Any reproduction or representation, whether whole or in part, of the Website pages, data or any other component of the Website, by any means or process whatsoever, is prohibited and, in the absence of the express prior authorisation of Cédric Lor, constitutes an act of counterfeiting liable to incur penalties under articles L335-2 and following of the Intellectual Property Code.
      </p>
      <p>
        Trademarks used on the Website <% link_to("http://www.skanher.se", root_path) %>, including the skanher trademark and those of Cédric Lor’s partners, as well as the logos featured on the site are trademarks registered in France and/or internationally. Any reproduction, whether total or partial, of these trademarks or logos, carried out using elements from the Website without the prior consent of Cédric Lor is therefore prohibited pursuant to article L713-2 of the Intellectual Property Code.
      </p>
      <p>
        Similarly, any use made of the Website or its contents for illegal purposes will result in legal action against the perpetrators of such actions.
      </p>
      <p>
        As an exception to the above statements, certain content, including text and images, are the legal property of their respective authors.
      </p>
      <p>
        Any reproduction, representation, dissemination or retransmission, whether in whole or in part, of this Website's content, by any means or process whatsoever, as well as any sale, re-sale, retransmission or placing of said content at the disposal of third parties, by any manner whatsoever, is prohibited. Failure to comply with this prohibition constitutes an act of counterfeiting for which the perpetrator(s) will be held responsible under the civil or penal code.
      </p>
      <h3>
        Applicable Laws
      </h3>
      <p>
        The content of the Website is subject to legislation applicable in France. All users are deemed to recognise the legal competence of tribunals coming under the jurisdiction of the Paris Court of Appeal with respect to the content and use of the Website and any legal recourse arising from such content and use.
      </p>
    </div>
  </div>
</div>