<% content_for(:title, "Terms of use of services") %>


<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <div class="main-title-block">
          <h1 class="main-title">Terms of Use of Services of Skanher</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 1</h6>
        <p>Kickstarter four dollar toast beard tempor duis, polaroid bespoke Echo Park art party squid. Jean shorts listicle hoodie meh selfies, ennui banjo mumblecore master cleanse wolf McSweeney's fingerstache. Mumblecore anim irony, try-hard tattooed gluten-free fugiat ea listicle officia photo booth authentic semiotics pork belly est. Deep v commodo qui, laboris do beard lomo chia shabby chic Neutra sriracha squid. Direct trade cronut tousled, occaecat distillery cliche Bushwick beard fashion axe single-origin coffee skateboard. Sint officia keytar Williamsburg pug narwhal, magna adipisicing slow-carb banh mi swag 3 wolf moon. Roof party freegan Intelligentsia, Portland fixie synth minim cronut.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 2</h6>
        <p>Jean shorts sint McSweeney's retro, keffiyeh pug Williamsburg fanny pack vegan yr bicycle rights whatever dolore farm-to-table. Sunt et meh do jean shorts, drinking vinegar magna gentrify irure roof party delectus craft beer tofu crucifix adipisicing. Synth Kickstarter drinking vinegar twee. Eiusmod photo booth PBR food truck. Chillwave eiusmod ugh, forage street art drinking vinegar exercitation aute meggings iPhone. Bespoke voluptate food truck sriracha brunch taxidermy. Pariatur laborum keffiyeh voluptate, +1 leggings lo-fi.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 3</h6>
        <p>Lo-fi gentrify labore raw denim, lomo voluptate Kickstarter eiusmod selvage. Aute consectetur keytar kale chips. Elit hella irony, sed banjo id semiotics forage mumblecore. Ea YOLO minim, tousled paleo est Bushwick mollit forage disrupt. Irure sapiente bespoke exercitation Schlitz messenger bag. Wayfarers banh mi scenester 90's. Magna esse swag dreamcatcher four loko Vice.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 4</h6>
        <p>XOXO fugiat pickled consectetur Marfa plaid taxidermy brunch. Fashion axe letterpress Godard cred. Delectus 3 wolf moon raw denim kale chips, crucifix before they sold out Vice. Chia gentrify plaid proident mumblecore ethical. Listicle Pitchfork hoodie, proident Pinterest hella heirloom shabby chic Carles. Selvage Echo Park skateboard meditation, pickled four loko ex Carles. Tote bag vegan Banksy quinoa laboris labore.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 5</h6>
        <p>Kickstarter four dollar toast beard tempor duis, polaroid bespoke Echo Park art party squid. Jean shorts listicle hoodie meh selfies, ennui banjo mumblecore master cleanse wolf McSweeney's fingerstache. Mumblecore anim irony, try-hard tattooed gluten-free fugiat ea listicle officia photo booth authentic semiotics pork belly est. Deep v commodo qui, laboris do beard lomo chia shabby chic Neutra sriracha squid. Direct trade cronut tousled, occaecat distillery cliche Bushwick beard fashion axe single-origin coffee skateboard. Sint officia keytar Williamsburg pug narwhal, magna adipisicing slow-carb banh mi swag 3 wolf moon. Roof party freegan Intelligentsia, Portland fixie synth minim cronut.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 6</h6>
        <p>Jean shorts sint McSweeney's retro, keffiyeh pug Williamsburg fanny pack vegan yr bicycle rights whatever dolore farm-to-table. Sunt et meh do jean shorts, drinking vinegar magna gentrify irure roof party delectus craft beer tofu crucifix adipisicing. Synth Kickstarter drinking vinegar twee. Eiusmod photo booth PBR food truck. Chillwave eiusmod ugh, forage street art drinking vinegar exercitation aute meggings iPhone. Bespoke voluptate food truck sriracha brunch taxidermy. Pariatur laborum keffiyeh voluptate, +1 leggings lo-fi.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 7</h6>
        <p>Lo-fi gentrify labore raw denim, lomo voluptate Kickstarter eiusmod selvage. Aute consectetur keytar kale chips. Elit hella irony, sed banjo id semiotics forage mumblecore. Ea YOLO minim, tousled paleo est Bushwick mollit forage disrupt. Irure sapiente bespoke exercitation Schlitz messenger bag. Wayfarers banh mi scenester 90's. Magna esse swag dreamcatcher four loko Vice.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <h6>Article 8</h6>
        <p>XOXO fugiat pickled consectetur Marfa plaid taxidermy brunch. Fashion axe letterpress Godard cred. Delectus 3 wolf moon raw denim kale chips, crucifix before they sold out Vice. Chia gentrify plaid proident mumblecore ethical. Listicle Pitchfork hoodie, proident Pinterest hella heirloom shabby chic Carles. Selvage Echo Park skateboard meditation, pickled four loko ex Carles. Tote bag vegan Banksy quinoa laboris labore.</p>
      </div>
    </div>
  </div>
</div>
