/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Fontawesome
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,300");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";
$navbar-font: 'Roboto', "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;
$light-green: #CCFF66;
$light-red: #FF6666;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

// body color
// $my-body-bg:                 #BBF6FB;
// $my-body-bg:                 #73F4FF;
// $my-body-bg:                 #EAF6F7;
$my-body-bg:                    rgb(253, 253, 253);

// Color scheme for rating icons
$mad-bg-color:        #FC221D;
$bad-bg-color:        #F98617;
$fine-bg-color:       #F7ED11;
$happy-bg-color:      #90F40C;
$very-happy-bg-color: #1FF207;
// Icon for ratings
$mad-icon:        image-url(image-path("mad.svg"));
$bad-icon:        image-url(image-path("bad.svg"));
$fine-icon:       image-url(image-path("fine.svg"));
$happy-icon:      image-url(image-path("happy.svg"));
$very-happy-icon: image-url(image-path("veryhappy.svg"));

