<h1>Suspicious activity</h1>

<p>
  Someone tried to use <%= @attempt_email %> to create a new account on skanher.
</p>
<p>
  This email is registered in our system as pertaining to you and you already hold an account with us.
</p>
<p>
  If you forgot your password, please use the following link to recover it, using whichever of the emails you registered with us.
</p>
<p>
  If it was not you, please do not worry. No access link to your account was sent and no new user account has been created with your emails. The person trying to register was not even informed that you already hold an account with us.
</p>
<p>
  However, as a security measure, you should change your password for your email <%= @attempt_email %> with your email provider.
</p>
<p>
  We hope to see you soon again on skanher.
</p>