* {
  box-sizing: border-box;
}

body {
  background-color: $my-body-bg;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0.7pt;
  color: rgba(90, 100, 125, 0.8);
  line-height: 1.2em;
  font-size: 14px;
}

/* HEADER FORMATTINGS */

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans;
  font-weight: 400;
  margin-top: 0px;
}

h1 {
  font-size: 28px;
  line-height: 1.8em;
  color: #D55;
}

h2 {
  font-size: 24px;
  line-height: 1.5em;
}

h3 {
  font-size: 20px;
  line-height: 1.3em;
}

h4 {
  font-size: 16px;
  line-height: 1.1em;
}

/* LINK FORMATTING */

a {
  color: rgba(60, 2, 2, 0.5);
  text-decoration: none;
}

a:visited {
  color: rgba(60, 2, 20, 0.5);
}

a:hover {
  text-decoration: none;
  color: rgba(60, 2, 2, 0.5);
}

/* TOOLS */

a.icon-wrapper:hover {
  color: rgba(60, 2, 2, 0.8);;
}

/* GENERAL BOX FORMATTING */

.shadowed-box {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.card-block {
  margin: 5px;
  /*width: 100%;*/ /* TO BE DISCUSSED WITH TEDDY */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

/* PRESENTATION BOX FORMATTING */

.main-title {
  margin-bottom: 0px;
}

.main-subtitle {
  margin-top: 0px;
}

.top-img {
  height: 100px;
  width: 100px;
}

.img-circle {
  border-radius: 50%;
}

/* COMPANY SHOW VIEW */
/* Compagny Icon */
.company-icon {
  width: 100%;
  max-width: 130px;
  margin: 0 auto;
  display: block;
}
.company-index-icon {
  max-width: 100px;
  max-height: 35px;
}
/* Goody */
.card-block span.badge:hover {
  color: #4A4747;
}
/* Button */
.rate-me {
  font-size: 12px;
}
.add-me-after-search {
  font-size: 16px;
}
/* Align badges to the right */
span.badge:not(.top-row-badge):not(.trend-badge) {
  float: right;
}
/* Competitor partial index formating */
#competitorsCommunityRankings {
  tr {
    height: 52px;
  }
  td {
    display: table-cell;
    vertical-align: middle;
  }
}

.competitor-rank {
  transition: all 0.3s ease;
  &:hover {
    border-right: 2px solid $green !important;
    td:nth-child(3) {
      left: 1px;
    }
  }
  td {
    position: relative;
  }
  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.cgu {
  color: $gray;
  &-checkbox {
    visibility: hidden;
    display: none;
  }
  a {
    color: $gray;
  }
  .fa {
    transition: all 0.3s ease;
    background: $gray-lighter;
    padding: 15px;
    color: white;
    border-radius: 50%;
  }
  &-checkbox:checked ~ label.cgu {
    cursor: pointer;
    color: $gray !important;
    .fa {
      background: $green !important;
      padding: 18px;
    }
    a {
      color: $blue !important;
    }
  }
  &:hover {
    cursor: pointer;
    color: $gray-dark;
    .fa {
      background: $gray-dark;
    }
    a {
      color: $gray-dark;
    }
  }
}

.red-paragraph {
  color: red;
}
