#howItWorks {
  margin-top: -40px;
  /**************************/
  /* image container design */
  .bg-img-container {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    /* fix iOS bug not rescalling image properly */
    /* ipad */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      background-attachment: scroll;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      background-attachment: scroll;
    }
    /* iphone5 */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
      background-attachment: scroll;
    }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
      background-attachment: scroll;
    }
    /* iPhone 4 */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      background-attachment: scroll;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      background-attachment: scroll;
    }
  }
  #mainLandingMotto {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url(image-path("bg-main-motto.jpg"));
    background-position: 50% 75%;
  }
  .motivation-section {
    background-position-y: 50%;
    background-position-x: 50%;
  }
  #peopleMotivationSection {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), image-url(image-path("bg-ballot-box.jpg"));
  }
  #firmMotivationSection {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), image-url(image-path("bg-disrupted-skyscrappers.jpg"));
  }
  /**************************/
  /* height of main sections */
  .full-height-block {
    height: 100vh;
  }
  /* fix iOS bug not displaying 100vh correctly */
  /* ipad */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .full-height-block {
      height: 768px;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .full-height-block {
      height: 1024px;
    }
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .full-height-block {
      height: 320px;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    .full-height-block {
      height: 568px;
    }
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .full-height-block {
      height: 320px;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .full-height-block {
      // height: 480px;
      height: 360px;
    }
  }
  /**************************/
  /* vertical alignement of content within image blocks */
  .vertical-aligner-block {
    padding: 5% 0;
    .vertically-centered-content-block {
      padding: 10% 0;
      .main-text-line {
        font-size: 28px;
        line-height: 1.2em;
        color: #FFFCFC;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 2px;
        margin-top: 2px;
      }
    }
    .bottom-aligned-scrolling-arrow {
      padding-bottom: 0;
      padding-top: 10%;
      // display:inline-block;
      // display:table-cell;
      // vertical-align:bottom;
    }
  }
  #peopleMotivationSection .vertically-centered-content-block {
    padding: 1% 0;
    /* restauring the regular top padding on large screens */
    @media only screen and (min-device-width : 1024px) {
      padding: 10% 0;
    }
  }
  /**************************/
  /* vertical alignement of content within image blocks */
  .motto-container-block {
    .sub-motto {
      margin-top: 10px !important;
      font-size: 25px;
      font-style: italic;
    }
  }
  /**************************/
  /* general scrolling arrows formating */
  .scrolling-arrow-container {
    margin-top: -150px;
  }
  .white-scrolling-arrow {
    color: white;
  }
  /**************************/
  /* Boxes of feature presentation design */
  @media screen and (min-width: 970px) {
    .padded-section {
      padding-left: 20px;
      padding-right: 20px;
    }
    .card-block {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    li {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    li:first-child {
      margin-top: 15px;
    }
  }
  .card-block {
    background-color: transparent;
  }
  .icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 25px;
    width: 75px;
    height: 75px;
    background-size: cover;
  }
  .main-call-to-action-wrapper {
    width: 100%;
    text-align: center;
    .btn {
      line-height: 30px;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: normal;
      border-radius: 50px;
      font-family: "Open Sans", "Helvetica", "sans-serif";
      @media only screen and (min-device-width : 1024px) {
        margin-top: 3vh;
      }
    }
  }
  #firstMainCallToAction .btn {
    /* set the call to action buttons higher on mobile devices */
    /* ipad */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      margin-top: 10px;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      margin-top: 10px;
    }
    /* iphone5 */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
      margin-top: 10px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
      margin-top: 10px;
    }
    /* iPhone 4 */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      margin-top: 10px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      margin-top: 10px;
    }
  }
  #scrollArrowWrapper {
    // Quick fix
    width: 100%;
    margin-top: 10px;
  }
  .top-spacer-for-features {
    height: 100px;
  }
  #voteIcon {
    background-image: image-url(image-path("icon_vote.png"));
  }
  #anonymousIcon {
    background-image: image-url(image-path("icon_anonymous.png"));
  }
  #rankingsIcon {
    background-image: image-url(image-path("icon_rankings.png"));
  }
  #publicationIcon {
    background-image: image-url(image-path("icon_publication.png"));
  }
  #feelingRepositoryIcon {
    background-image: image-url(image-path("icon_feeling_repository.png"));
  }
  #advicesIcon {
    background-image: image-url(image-path("icon_advice.png"));
  }
  #employersAdvisoryIcon {
    background-image: image-url(image-path("icon_employers_advisory.png"));
  }
  #adrIcon {
    background-image: image-url(image-path("icon_adr.png"));
  }
}