<div class="card-block shadowed-box">
  <div class="text-center">
    <h3>Your published reviews</h3>
    <hr/>
  </div>
  <% @published_reviews.each do | review | %>
    <% @firm.nil? ? firm = review.firm : firm = @firm %>
    <%= render 'reviews/individual_review_table', review: review, username: current_user.username, firmname: firm.name, firmid: firm.id, displayed_reviews_css_array: displayed_reviews_css_array %>
    <hr/>
  <% end %>
</div>
