<div class="card-block shadowed-box">
  <div class="text-center">
    <h3>
      <%= t('.section_title', count: @pending_publication_reviews.count, default: "Review(s) pending validation by our services before publication") %>
    </h3>
    <% process_explanation_text_html = "
    <p>You have already validated these reviews.</p>
    <p>We are currently reviewing the comments and titles before publication.</p>
    <p>We will inform you as soon as they are published.</p>
    "
    %>
    <%= t('.process_explanation_text_html', count: @pending_publication_reviews.count, default: process_explanation_text_html) %>
    <hr/>
  </div>
  <% @pending_publication_reviews.each do | review | %>
    <% @firm.nil? ? firm = review.firm : firm = @firm %>
    <%= render 'reviews/individual_review_table', review: review, username: current_user.username, firmname: firm.name, firmid: firm.id, displayed_reviews_css_array: @displayed_reviews_css_array %>
    <div class="btn-group btn-group-justified" role="group" aria-label="review-buttons-group">
      <%= render 'reviews/discard_button_for_review', review: review %>
    </div>
    <hr/>
  <% end %>
</div>
