<div class="card-block shadowed-box">
  <div class="text-center">
    <h3>Reviews to be published</h3>
    <p>You have already validated these reviews:</p>
    <p>Any grade they contain are already taken into account into the corresponding firm's average grade.</p>
    <hr/>
  </div>
  <% @validated_but_not_agreed_for_publication_reviews.each do | review | %>
    <%= render 'reviews/index/user_pending_review', review: review, displayed_reviews_css_array: @displayed_reviews_css_array %>
    <hr/>
  <% end %>
</div>
