<% content_for(:title, "Pending user validation") %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h1 class="text-center">Pending user validation</h1>
      <div class="card-block shadowed-box">
        <p>
          An email has been sent to <%= "#{@real_email}" %> with a link for validation of your account.
        </p>
        <p>
          Please check your email and complete your profile.
        </p>
      </div>
    </div>
  </div>
</div>
