<h1>Congratulations!</h1>

<p>
  You created your first review on skanher for <%= @firm.name %>.
</p>
<p>
  Simultaneously to this email, you have received another email from us for the confirmation of your account.Click on the link therein to set your password and get access to all the functionalities of Skanher.
</p>
<p>
  This step is necessary for your review to be taken into account for the global ranking of <%= @firm.name %>.
</p>
<p>
  Thank you for having taken the time to answer our questionnaire and contributing to making the world a better, more equal place.
</p>
<p>
  We hope to see you soon again on skanher.
</p>