<h1>Hi! Was it you?</h1>

<p>
  Someone using this email address (<%= @usermail %>) has created a new review for <%= @firm.name %> on skanher.
</p>
<p>
  However, such person was not logged in on your account.
</p>
<p>
  Because we do not want anyone to use your email address fraudulently, this review has been saved to your profile but is not validated, and therefore, is not taken into account.
</p>
<p>
  If it was you, please log in and validate it.
</p>
<p>
  If it was not you, you may choose to log in and discard the review. You may also choose to leave it as is and it will be automatically deleted by our services within a week time.
</p>
<p>
  If it was you, thank you for having taken the time to answer our questionnaire and contributing to making the world a better, more equal place.
</p>
<p>
  Else, please accept our apologies for the disturbance.
</o>
<p>
  We hope to see you soon again on skanher.
</p>