<h1>Congratulations!</h1>

<p>
  A new review was created by you on skanher for <%= @firm.name %>.
</p>
<p>
  As a security measure, we always send emails to our users when a new review is created for them.
</p>
<p>
  Thank you for having taken the time to answer our questionnaire and contributing to making the world a better, more equal place.
</p>
<p>
  We hope to see you soon again on skanher.
</p>