<h3>Quelqu'un demande l'ajout d'une nouvelle entreprise !</h3>

<p>
  Le nom de l'entreprise est <%= @firm_name %>.
</p>
<p>
  Elle est localisée en <%= @country_name %>.
</p>
<p>
  Sans doute pas très loin de <%= @city_name %>.
</p>
