/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
$btn-border-color: #d4d4d4;
$btn-bg-color: rgba(122, 53, 53, 0);
$btn-main-call-bg-color: rgba(105, 203, 77, 0.33);
$btn-hover-color: rgba(140, 24, 24, 1);
$btn-font-color: rgba(60, 2, 20, 0.5);

.red-hover-btn, .navbar .nav li > a.red-hover-btn {
  border: 1px solid $btn-border-color;
  color: $btn-font-color;
  background-color: $btn-bg-color;
}
.red-hover-btn:hover, .navbar .nav li > a.red-hover-btn:hover {
  color: white;
  background-color: $btn-hover-color;
}
.main-call-to-action-btn, .btn-green-bg {
  color: $btn-font-color;
  background-color: $btn-main-call-bg-color;
}
.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.regular-btn {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid $btn-border-color;
  color: $btn-font-color;
  background-color: $btn-bg-color;
  border-radius: 50px;
}
.vote-btn-deactivated {
  opacity: 0.3 !important;
}
