/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

.red-hover-btn, .navbar .nav li > a.red-hover-btn {
  border: 1px solid #d4d4d4;
  color: rgba(60, 2, 20, 0.5);
  background-color: rgba(122, 53, 53, 0);
}
.red-hover-btn:hover, .navbar .nav li > a.red-hover-btn:hover {
  color: white;
  background-color: rgba(140, 24, 24, 1);
}
.main-call-to-action-btn {
  color: rgba(60, 2, 20, 0.85);
  background-color: rgba(105, 203, 77, 0.33);
}
.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.regular-btn {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid #d4d4d4;
  color: rgba(60, 2, 20, 0.5);
  background-color: rgba(122, 53, 53, 0);
}
.vote-btn-deactivated {
  opacity: 0.3 !important;
}
