.embedded-members-reviews {
  .mad {
    background-image: $mad-icon;
    background-color: $mad-bg-color;
  }
  .bad {
    background-image: $bad-icon;
    background-color: $bad-bg-color;;
  }
  .fine {
    background-image: $fine-icon;
    background-color: $fine-bg-color;
  }
  .happy {
    background-image: $happy-icon;
    background-color: $happy-bg-color;
  }
  .very-happy {
    background-image: $very-happy-icon;
    background-color: $very-happy-bg-color;
  }
  .indiv-review-answers-wrapper {
    margin-right: 25px;
  }
  .indiv-review-test-question {
    float: left;
    width: 100%;
    padding-right: 5px;
  }
  .indiv-review-user-rating-icon {
    float: right;
    height: 25px;
    width: 25px;
    margin-right: -25px;
    background-size: cover;
    border-radius: 50%;
    color: rgba(0, 255, 255, 0);
    opacity: .5;
  }
  .username {
    font-weight: bold;
  }
  .firmname {
    font-weight: bold;
  }
  .comment-title {
    font-style: italic;
  }
  .comment-body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: normal;
  }
  .your-pending-review {
    border-style: solid;
    border-width: thin;
    padding: 10px 5px 5px 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .table-individual-review {
    margin-top: 15px;
  }
}
