/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

.input-group-search-form {
  width: 100%;
}
.btn-search-form {
  width: 100%;
}
.search-form-card-block {
  padding-right: 5px;
  padding-left: 5px;
}