.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.my-hidden-input {
  display: none;
  visibility: hidden;
}
div.my-rating-wrapper {
  label.collection_radio_buttons {
    // visibility: hidden;
    color: rgba(0,0,0,0);
    padding-left: 0;
    width: 45px;
    height: 45px;
    background-size: cover;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 50%;
    opacity: 0.5;
  }
  label.collection_radio_buttons::after {
    visibility: visible;
    content: " ";
    display: inline-block;
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
    margin: 10px 3px 0px 3px;
    border-radius: 50%;
    // opacity: 0.5;
  }
  span:nth-child(2) {
    label.collection_radio_buttons {
      background-image: image-url(image-path("mad.svg"));
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      // background-color: red;
      background-color: #FC221D;
    }
  }
  span:nth-child(3) {
    label.collection_radio_buttons {
      background-image: image-url(image-path("bad.svg"));
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      // background-color: red;
      background-color: #F98617;
    }
  }
  span:nth-child(4) {
    label.collection_radio_buttons {
      background-image: image-url(image-path("fine.svg"));
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      // background-color: grey;
      background-color: #F7ED11;
    }
  }
  span:nth-child(5) {
    label.collection_radio_buttons {
      background-image: image-url(image-path("happy.svg"));
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      // background-color: yellow;
      background-color: #90F40C;
    }
  }
  span:nth-child(6) {
    label.collection_radio_buttons {
      background-image: image-url(image-path("veryhappy.svg"));
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      // background-color: green;
      background-color: #1FF207;
    }
  }
}

#legalWarning {
  border-width: thin;
  border-style: solid;
  padding: 8px;
  border-color: red;
  margin-bottom: 30px;
}

.voting-email-hint-class {
  color: red;
}

.vote-impact-wrapper {
  .badge.trend-badge {
    float: right;
    margin-right: 5px;
    margin-bottom: 3px;
  }
}
