.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
div.my-rating-wrapper {
  label.collection_radio_buttons {
    // visibility: hidden;
    color: rgba(0,0,0,0);
    padding-left: 0;
    width: 45px;
    height: 45px;
    background-size: cover;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
  }

  span:nth-child(2) {
    label.collection_radio_buttons {
      background-image: $mad-icon;
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      background-color: $mad-bg-color;
    }
  }
  span:nth-child(3) {
    label.collection_radio_buttons {
      background-image: $bad-icon;
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      background-color: $bad-bg-color;
    }
  }
  span:nth-child(4) {
    label.collection_radio_buttons {
      background-image: $fine-icon;
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      background-color: $fine-bg-color;
    }
  }
  span:nth-child(5) {
    label.collection_radio_buttons {
      background-image: $happy-icon;
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      background-color: $happy-bg-color;
    }
  }
  span:nth-child(6) {
    label.collection_radio_buttons {
      background-image: $very-happy-icon;
    }
    label.collection_radio_buttons:focus,
    label.collection_radio_buttons:hover,
    label.collection_radio_buttons:active,
    input:checked ~ label.collection_radio_buttons {
      background-color: $very-happy-bg-color;
    }
  }
}

#legalWarning {
  border-width: thin;
  border-style: solid;
  padding: 8px;
  border-color: red;
  margin-bottom: 30px;
}

.voting-email-hint-class {
  color: red;
}

.vote-impact-wrapper {
  .badge.trend-badge {
    float: right;
    margin-right: 5px;
    margin-bottom: 3px;
  }
}

.cgu {
  color: $gray;
  &-checkbox {
    visibility: hidden;
    display: none;
  }
  a {
    color: $gray;
  }
  @keyframes ticker {
      0% {background: $gray-lighter;}
      50% {background: $gray-darker;}
      100% {background: $gray-lighter;}
  }
  @-webkit-keyframes ticker {
      0% {background: $gray-lighter;}
      50% {background: $gray-darker;}
      100% {background: $gray-lighter;}
  }
  @keyframes noticker {
      from {background: $green;}
      to {background: $green}
  }
  @-webkit-keyframes ticker {
      from {background: $green;}
      to {background: $green}
  }
  .fa {
    transition: all 0.3s ease;
    background: $gray-lighter;
    padding: 15px;
    color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: $gray-dark;
    border-width: thin;
    animation-name: ticker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &-checkbox:checked ~ label.cgu {
    cursor: pointer;
    color: $gray !important;
    .fa {
      background: $green !important;
      padding: 18px;
      border-style: none;
      animation-name: noticker;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    a {
      color: $blue !important;
    }
  }
  &:hover {
    cursor: pointer;
    color: $gray-dark;
    .fa {
      background: black;
    }
    a {
      color: $gray-dark;
    }
  }
}
