<div class="btn-group" role="group">
<%# edit form %>
  <%= form_tag(edit_review_path(review), id: 'editReviewForm', method: :get) do -%>
    <%= button_tag(type: 'submit', class: "btn btn-default", id: 'editReviewButton', form: "editReviewForm") do %>
      <%= t( "edit_button_label", default: "Edit") %>
    <% end %>
  <% end %>
</div>
