<div class="row">
  <div class="col-xs-12">
    <%= r.input :title, label: t("title_label_for_review_comments", default: "Title (optional)") %>
  </div>
  <div class="col-xs-12">
    <%= r.input :comment, label: t("comment_label_for_review_comments", default: "Comments (optional)") %>
  </div>
</div>